.archive .content {
  margin: 0 auto;
}

.archive .content:after {
	content: " ";
	display: table;
	clear: both;
}

.archive .content .entry,
.archive .content .grid-sizer {
  width: 33%;
}

.archive .content .gutter-sizer {
	width: 10%;
}

.archive .content .entry {
	border: 1px solid #888;
	padding: 20px;
}